.tasks-div {
  display: flex;
  flex-wrap: wrap;

  .task-component {
    margin: 20px;
  }
}

.add-button-container {
  display: flex;
  .add-button {
    padding: 8px 15px;
    margin: 10px 20px;
  }
}
