.task-component {
  width: 200px;
  border: 2px solid #e09900;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;

  button {
    margin: 15px;
  }
}

.check {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  top: 0;
  right: 0;
  //   z-index: 1;
  width: 30px;
  height: 30px;
  background-color: #e09900;

  ::before {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    content: "";
    border: 20px solid;
    border-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}

.checkmark {
  display: block;
  font: 20px sans-serif;
  top: -5px;
  right: 0;
  text-align: center;
  color: white;
  height: 20px;
  position: absolute;
}
.buttons-container {
  button {
    padding: 7px 10px;
    margin: 10px;
  }
}

.task-title {
  overflow: hidden;
  width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50%;
}
